In [20]:
# Import dependencies

import pandas as pd
import matplotlib
import gmaps
from config import gkey
gmaps.configure(api_key=gkey) 
import json
import os

In [3]:
# Read CSV file 

epl_csv = pd.read_csv("Resources/EPL_season_1819.csv")

epl_csv.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,2018-08-10,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,6,4,11,8,2,5,2,1,0,0
1,2018-08-11,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,4,1,11,9,7,4,1,1,0,0
2,2018-08-11,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,6,9,9,11,5,5,1,2,0,0
3,2018-08-11,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,1,4,9,8,2,5,2,1,0,0
4,2018-08-11,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2,5,11,12,3,5,2,2,0,0

In [4]:
epl_clean = epl_csv[["Date", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR"]]

epl_clean.head()

         Date      HomeTeam        AwayTeam  FTHG  FTAG FTR
0  2018-08-10    Man United       Leicester     2     1   H
1  2018-08-11   Bournemouth         Cardiff     2     0   H
2  2018-08-11        Fulham  Crystal Palace     0     2   A
3  2018-08-11  Huddersfield         Chelsea     0     3   A
4  2018-08-11     Newcastle       Tottenham     1     2   A

In [5]:
renamed_epl_clean = epl_clean.rename(columns = {"HomeTeam": "Home Team",
                                  "AwayTeam": "Away Team",
                                  "FTHG": "Home Team Goals",
                                  "FTAG": "Away Team Goals",
                                  "FTR": "Game Result"})

renamed_epl_clean.head()

,Date,Home Team,Away Team,Home Team Goals,Away Team Goals,Game Result
0,2018-08-10,Man United,Leicester,2,1,H
1,2018-08-11,Bournemouth,Cardiff,2,0,H
2,2018-08-11,Fulham,Crystal Palace,0,2,A
3,2018-08-11,Huddersfield,Chelsea,0,3,A
4,2018-08-11,Newcastle,Tottenham,1,2,A

In [6]:
manchester_home_teams = renamed_epl_clean.loc[renamed_epl_clean["Home Team"].isin(["Man United", "Man City"])]

manchester_home_teams.sort_values(["Date"])

,Date,Home Team,Away Team,Home Team Goals,Away Team Goals,Game Result
0,2018-08-10,Man United,Leicester,2,1,H
18,2018-08-19,Man City,Huddersfield,6,1,H
29,2018-08-27,Man United,Tottenham,0,3,A
35,2018-09-01,Man City,Newcastle,2,1,H
43,2018-09-15,Man City,Fulham,3,0,H
57,2018-09-22,Man United,Wolves,1,1,D
64,2018-09-29,Man City,Brighton,2,0,H
74,2018-10-06,Man United,Newcastle,3,2,H
84,2018-10-20,Man City,Burnley,5,0,H
98,2018-10-28,Man United,Everton,2,1,H
108,2018-11-04,Man City,Southampton,6,1,H
119,2018-11-11,Man City,Man United,3,1,H
123,2018-11-24,Man United,Crystal Palace,0,0,D
134,2018-12-01,Man City,Bournemouth,3,1,H
147,2018-12-05,Man United,Arsenal,2,2,D
156,2018-12-08,Man United,Fulham,4,1,H
163,2018-12-15,Man City,Everton,3,1,H
176,2018-12-22,Man City,Crystal Palace,2,3,A
186,2018-12-26,Man United,Huddersfield,3,1,H
198,2018-12-30,Man United,Bournemouth,4,1,H
209,2019-01-03,Man City,Liverpool,2,1,H
219,2019-01-14,Man City,Wolves,3,0,H
223,2019-01-19,Man United,Brighton,2,1,H
233,2019-01-29,Man United,Burnley,2,2,D
248,2019-02-03,Man City,Arsenal,3,1,H
258,2019-02-10,Man City,Chelsea,6,0,H
268,2019-02-24,Man United,Liverpool,0,0,D
277,2019-02-27,Man City,West Ham,1,0,H
282,2019-03-02,Man United,Southampton,3,2,H
293,2019-03-09,Man City,Watford,3,1,H
309,2019-03-30,Man United,Watford,2,1,H
317,2019-04-03,Man City,Cardiff,2,0,H
329,2019-04-13,Man United,West Ham,2,1,H
338,2019-04-20,Man City,Tottenham,1,0,H
348,2019-04-24,Man United,Man City,0,2,A
359,2019-04-28,Man United,Chelsea,1,1,D
369,2019-05-06,Man City,Leicester,1,0,H
376,2019-05-12,Man United,Cardiff,0,2,A

In [7]:
manchester_crime_data = pd.read_csv("Resources/final_manchester_crime_data.csv")
manchester_crime_data.head()

,Unnamed: 0,Unnamed: 0.1,CrimeTS,Location,Type,latitude,longitude
0,0,0,8/2/2018 21:29,On or near Faraday Street,Violence and sexual offences,-2.125952,53.456924
1,1,1,8/1/2018 15:29,On or near Camborne Road,Violence and sexual offences,-2.445266,53.568947
2,2,2,8/5/2018 11:29,On or near Ashley Road,Criminal damage and arson,-2.354261,53.419073
3,3,3,8/26/2018 5:21,On or near Trust Road,Public order,-2.563494,53.536908
4,4,4,8/16/2018 1:16,On or near Back Elmwood Grove West,Violence and sexual offences,-2.199558,53.513226

In [25]:
man_crime_req_columns = manchester_crime_data[["CrimeTS", "Location", "Type", "latitude", "longitude"]]
man_crime_req_columns['Date'] = pd.to_datetime(man_crime_req_columns['CrimeTS']).dt.normalize()

man_crime_req_columns.rename(columns = {"longitude": "Latitude", "latitude": "Longitude"}).head()
corrected_dataset = man_crime_req_columns[[ "Date", "Location", "Type", "latitude", "longitude"]]
corrected_dataset.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,Location,Type,latitude,longitude
0,2018-08-02,On or near Faraday Street,Violence and sexual offences,-2.125952,53.456924
1,2018-08-01,On or near Camborne Road,Violence and sexual offences,-2.445266,53.568947
2,2018-08-05,On or near Ashley Road,Criminal damage and arson,-2.354261,53.419073
3,2018-08-26,On or near Trust Road,Public order,-2.563494,53.536908
4,2018-08-16,On or near Back Elmwood Grove West,Violence and sexual offences,-2.199558,53.513226

In [12]:
first_home_game = corrected_dataset.loc[corrected_dataset["Date"] == "2018-08-10"].reset_index()

second_home_game = corrected_dataset.loc[corrected_dataset["Date"] == "2018-08-19"].reset_index()

third_home_game = corrected_dataset.loc[corrected_dataset["Date"] == "2018-08-27"].reset_index()

# First Home Game Map

In [38]:
stadium_locations = [(53.4631, -2.2913), (53.4831, -2.2004)]
stadium_names = ['Old Traffort', 'Etihad Stadium']


crime_locations_first = first_home_game[["longitude", "latitude"]].astype(float)
fig = gmaps.figure(map_type="TERRAIN")
heatmap_layer = gmaps.heatmap_layer(crime_locations_first)
fig.add_layer(heatmap_layer)


crime_layer = gmaps.symbol_layer(
    crime_locations_first, fill_color='white',
    stroke_color='black', scale=3,)

stadium_markers = gmaps.marker_layer(stadium_locations, info_box_content=stadium_names)

fig.add_layer(crime_layer)
fig.add_layer(stadium_markers)
fig

Figure(layout=FigureLayout(height='420px'))

# Second Home Game Map

In [37]:
stadium_locations = [(53.4631, -2.2913), (53.4831, -2.2004)]
stadium_names = ['Old Traffort', 'Etihad Stadium']


crime_locations_second = second_home_game[["longitude", "latitude"]].astype(float)
fig = gmaps.figure(map_type="TERRAIN")
heatmap_layer = gmaps.heatmap_layer(crime_locations_second)
fig.add_layer(heatmap_layer)


crime_layer = gmaps.symbol_layer(
    crime_locations_second, fill_color='white',
    stroke_color='black', scale=3, 
)

stadium_markers = gmaps.marker_layer(stadium_locations, info_box_content=stadium_names)

fig.add_layer(crime_layer)
fig.add_layer(stadium_markers)
fig

Figure(layout=FigureLayout(height='420px'))

# Third Home Game Map

In [39]:
stadium_locations = [(53.4631, -2.2913), (53.4831, -2.2004)]
stadium_names = ['Old Traffort', 'Etihad Stadium']

crime_locations_third = third_home_game[["longitude", "latitude"]].astype(float)
fig = gmaps.figure(map_type="TERRAIN")
heatmap_layer = gmaps.heatmap_layer(crime_locations_third)
fig.add_layer(heatmap_layer)


crime_layer = gmaps.symbol_layer(
    crime_locations_third, fill_color='white',
    stroke_color='black', scale=3, 
)

stadium_markers = gmaps.marker_layer(stadium_locations, info_box_content=stadium_names)

fig.add_layer(crime_layer)
fig.add_layer(stadium_markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
print(f"The total number of crimes during the first home game on 08-10-2018: {len(first_home_game)}")
print(f"The total number of crimes during the second home game on 08-19-2018: {len(second_home_game)}")
print(f"The total number of crimes during the third home game on 08-27-2018: {len(third_home_game)}")
print(f"There were a total of {len(first_home_game) + len(second_home_game) + len(third_home_game)} crimes during August 2018, while a game was being played in Manchester, UK")

The total number of crimes during the first home game on 08-10-2018: 141
The total number of crimes during the second home game on 08-19-2018: 153
The total number of crimes during the third home game on 08-27-2018: 155
There were a total of 449 crimes during August 2018, while a game was being played in Manchester, UK

# Table With All Home Games Combined

In [42]:
first_and_second_home_games = pd.merge(first_home_game, second_home_game, how = "outer")
combined_home_games = pd.merge(first_and_second_home_games, third_home_game, how = "outer")
combined_home_games.head()

,index,Date,Location,Type,latitude,longitude
0,138,2018-08-10,On or near Brookfield Street,Violence and sexual offences,-2.273249,53.362505
1,145,2018-08-10,On or near Oxford Drive,Burglary,-2.350825,53.414777
2,149,2018-08-10,On or near Cheshire Road,Violence and sexual offences,-2.284450,53.415340
3,174,2018-08-10,On or near Milnrow Road,Violence and sexual offences,-2.171624,53.481936
4,240,2018-08-10,On or near Mansfield Road,Violence and sexual offences,-2.425268,53.544239

# All Home Games Crimes Map

In [43]:
stadium_locations = [(53.4631, -2.2913), (53.4831, -2.2004)]
stadium_names = ["Old Trafford Stadium", "Etihad Stadium"]
crime_locations_combined_home_games = combined_home_games[["longitude", "latitude"]].astype(float)

fig = gmaps.figure(map_type="TERRAIN")

heatmap_layer = gmaps.heatmap_layer(crime_locations_combined_home_games)
fig.add_layer(heatmap_layer)

stadium_markers = gmaps.marker_layer(stadium_locations, info_box_content = stadium_names)


fig.add_layer(stadium_markers)
fig

Figure(layout=FigureLayout(height='420px'))

# Combine Home Game Crimes by Type

In [45]:
combined_home_games.groupby(["Type"]).count()

                              index  Date  Location  latitude  longitude
Type
Bicycle theft                     5     5         5         5          5
Burglary                         39    39        39        39         39
Criminal damage and arson        38    38        38        38         38
Drugs                             3     3         3         3          3
Other crime                      14    14        14        14         14
Other theft                      55    55        55        55         55
Possession of weapons             8     8         8         8          8
Public order                     64    64        64        64         64
Robbery                          11    11        11        11         11
Shoplifting                      17    17        17        17         17
Theft from the person             8     8         8         8          8
Vehicle crime                    41    41        41        41         41
Violence and sexual offences    146   146       146       146        146

In [50]:
bicycle_theft = combined_home_games.loc[combined_home_games["Type"] == "Bicycle theft"]
burglary = combined_home_games.loc[combined_home_games["Type"] == "Burglary"]
criminal_damage_and_arson = combined_home_games.loc[combined_home_games["Type"] == "Criminal damage and arson"]
drugs = combined_home_games.loc[combined_home_games["Type"] == "Drugs"]
other_crime = combined_home_games.loc[combined_home_games["Type"] == "Other crime"]
other_theft = combined_home_games.loc[combined_home_games["Type"] == "Other theft"]
possession_of_weapons = combined_home_games.loc[combined_home_games["Type"] == "Possession of weapons"]
public_order = combined_home_games.loc[combined_home_games["Type"] == "Public order"]
robbery = combined_home_games.loc[combined_home_games["Type"] == "Robbery"]
shoplifting = combined_home_games.loc[combined_home_games["Type"] == "Shoplifting"]
theft_from_the_person = combined_home_games.loc[combined_home_games["Type"] == "Theft from the person"]
vehicle_crime = combined_home_games.loc[combined_home_games["Type"] == "Vehicle crime"]
violence_and_sexual_offences = combined_home_games.loc[combined_home_games["Type"] == "Violence and sexual offences"]

In [51]:
stadium_locations = [(53.4631, -2.2913), (53.4831, -2.2004)]

crime_bicycle_theft = bicycle_theft[["longitude", "latitude"]].astype(float)
crime_burglary = burglary[["longitude", "latitude"]].astype(float)
crime_criminal_damage_and_arson = criminal_damage_and_arson[["longitude", "latitude"]].astype(float)
crime_drugs = drugs[["longitude", "latitude"]].astype(float)
crime_other_crime = other_crime[["longitude", "latitude"]].astype(float)
crime_other_theft = other_theft[["longitude", "latitude"]].astype(float)
crime_possession_of_weapons = possession_of_weapons[["longitude", "latitude"]].astype(float)
crime_public_order = public_order[["longitude", "latitude"]].astype(float)
crime_robbery = robbery[["longitude", "latitude"]].astype(float)
crime_shoplifting = shoplifting[["longitude", "latitude"]].astype(float)
crime_theft_from_the_person = theft_from_the_person[["longitude", "latitude"]].astype(float)
crime_vehicle_crime = vehicle_crime[["longitude", "latitude"]].astype(float)
crime_violence_and_sexual_offences = violence_and_sexual_offences[["longitude", "latitude"]]


fig = gmaps.figure(map_type="TERRAIN")

bicycle_theft_layer = gmaps.symbol_layer(crime_bicycle_theft, fill_color='white', stroke_color='black', scale=3)

burglary_layer = gmaps.symbol_layer(crime_burglary, fill_color='white', stroke_color='black', scale=3)

criminal_damage_and_arson_layer = gmaps.symbol_layer(crime_criminal_damage_and_arson, fill_color='white', stroke_color='black', scale=3)

drugs_layer = gmaps.symbol_layer(crime_drugs, fill_color='white', stroke_color='black', scale=3)

other_crime_layer = gmaps.symbol_layer(crime_other_crime, fill_color='white', stroke_color='black', scale=3)

other_theft_layer = gmaps.symbol_layer(crime_other_theft, fill_color='white', stroke_color='black', scale=3)

possession_of_weapons_layer = gmaps.symbol_layer(crime_possession_of_weapons, fill_color='white', stroke_color='black', scale=3)

public_order_layer = gmaps.symbol_layer(crime_public_order, fill_color='white', stroke_color='black', scale=3)

robbery_layer = gmaps.symbol_layer(crime_robbery, fill_color='white', stroke_color='black', scale=3)

shoplifting_layer = gmaps.symbol_layer(crime_shoplifting, fill_color='white', stroke_color='black', scale=3)

theft_from_the_person_layer = gmaps.symbol_layer(crime_theft_from_the_person, fill_color='white', stroke_color='black', scale=3)

vehicle_crime_layer = gmaps.symbol_layer(crime_vehicle_crime, fill_color='white', stroke_color='black', scale=3)

violence_and_sexual_offences_layer = gmaps.symbol_layer(crime_violence_and_sexual_offences, fill_color='white', stroke_color='black', scale=3)


stadium_markers = gmaps.marker_layer(stadium_locations, info_box_content = stadium_names)

# Add the layer to the map

fig.add_layer(bicycle_theft_layer)
fig.add_layer(burglary_layer)
fig.add_layer(criminal_damage_and_arson_layer)
fig.add_layer(drugs_layer)
fig.add_layer(other_crime_layer)
fig.add_layer(other_theft_layer)
fig.add_layer(possession_of_weapons_layer)
fig.add_layer(public_order_layer)
fig.add_layer(robbery_layer)
fig.add_layer(shoplifting_layer)
fig.add_layer(theft_from_the_person_layer)
fig.add_layer(vehicle_crime_layer)
fig.add_layer(violence_and_sexual_offences_layer)

fig.add_layer(stadium_markers)
fig

Figure(layout=FigureLayout(height='420px'))